/* Apply the Poppins font to the whole app */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

input {
  padding: 15px 20px;
  width: 300px;
  border: 2px solid #ddd;
  border-radius: 30px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease;
}

input:focus {
  border-color: #007bff;
}

button {
  padding: 15px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  margin-left: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.weather-info {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: left;
}

.weather-info h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}

.weather-info p {
  font-size: 1.2rem;
  color: #555;
  margin: 10px 0;
}

p.error {
  color: red;
  font-size: 1.2rem;
}
